{% extends 'layouts/base.html.twig' %}

{% block title 'Revolutionize your sign-in procedures with our digital solution' %}

{% block body %}
	<section class="w-full py-12 md:py-24 lg:py-32 xl:py-48">
		<div class="container mx-auto">
			<div class="grid gap-6 lg:grid-cols-[1fr_400px] lg:gap-12 xl:grid-cols-[1fr_600px] items-center">
				<div class="flex flex-col justify-center space-y-4">
					<div class="space-y-4">
						<h1 class="text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none bg-clip-text text-transparent bg-gradient-to-r from-blue-300 to-blue-700">
							Revolutionize your sign-in procedures with our digital solution
						</h1>
						<div class="max-w-[600px] md:text-xl">
							<p>Our online signature application is designed to simplify digital attendance for professional training and business purposes.</p>
							<p>Sign and manage your attendance documents with ease, wherever you are. Save time and paper while optimizing your attendance processes.</p>
						</div>
						<a href="/" class="justify-center text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-300 disabled:opacity-50 disabled:cursor-not-allowed ring-offset-background border-slate-800 hover:bg-slate-800 flex items-center gap-2 rounded-xl border-2 px-4 py-2 md:inline-flex">Get started</a>
					</div>
				</div>
				<img src="/placeholder.svg" alt="Hero" height="310" width="550" class="mx-auto aspect-video overflow-hidden rounded-xl object-cover object-center w-full"/>
			</div>
		</div>
	</section>
{% endblock %}
